@model Registration1.Models.Project

<h1>Delete Project</h1>

<h3>Are you sure you want to delete this project?</h3>
<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Projects" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
